{% extends "./layouts/app.twig" %}

{% block create %}

    <div id="create-container">
        <h1>Create recipe</h1>

        <form id="create-edit-form" method="POST" action="/recipe/create">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>
            
            <label for="kitchen">Kitchen</label>
            <select id="kitchen" name="kitchen" required>
                {% for kitchen in kitchens %}
                    <option value="{{ kitchen.id }}">{{ kitchen.name }}</option>
                {% endfor %}
            </select>

            <label for="type">Type</label>
            <select id="type" name="type" required>
                {% for type in types %}
                    <option value="{{ type|lower }}">{{ type }}</option>
                {% endfor %}
            </select>

            <label for="level">Level</label>
                <select id="level" name="level" required>
                {% for difficulty in difficulties %}
                    <option value="{{ difficulty|lower }}">{{ difficulty }}</option>
                {% endfor %}
            </select>

            <div id="submit-section">
                <a href="/recipe" class="hover-underline">Back to recipes</a>
                <input id="submit" type="submit" value="Submit">
            </div>
        </form>
    </div>   
    
{% endblock %}